/* this defines the helper grid */
.gridlines {
  /* change these as you need */
  --grid-size:10px;
  --grid-color:pink;
}

/* anything else you want to do 👇🏻 */

h1 {
  color: #D02785;
  margin:0px;
  font-family:Helvetica;
  padding: 10px;
  font-weight: bold;
}

h2{
  color:gray;
 
  font-family: 'Gayathri', sans-serif;
  padding: 10px;
  font-weight: bold;
}

.p1 {
  color:gray;
  font-family:Helvetica;
  font-size: 12px;
  margin-top: -10px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
}

.p2 {
  color:gray;
  font-family:Helvetica;
  font-size: 12px;
  margin-top: -33px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
  margin-bottom: 0px;
}


div.a{
     color: #07A0DF;
    font-family: Helvetica;
    opacity: 0.5;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: -100px;
    padding-top: 20px;
    padding-right: 10px;
    line-height: 20px;
    text-align: right;
}

div.b {
    color: #01B73B;
    font-family: Helvetica;
    opacity: 0.5;
    font-size: 30px;
    margin-top: 84px;
    margin-bottom: -59px;
    padding-top: 20px;
    padding-right: 10px;
    line-height: 20px;
    text-align: right;
}

div.c {
       color: #FFB400;
    font-family: Helvetica;
    opacity: 0.5;
    font-size: 30px;
    margin-top: 83px;
    margin-bottom: -58px;
    padding-top: 20px;
    padding-right: 10px;
    line-height: 20px;
    text-align: right;
}

div.d {
    color: #D92721;
    font-family: Helvetica;
    opacity: 0.5;
    font-size: 30px;
    margin-top: 125px;
    margin-bottom: -99px;
    padding-top: 20px;
    padding-right: 10px;
    line-height: 20px;
    text-align: right;
}